body {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

button {
    outline: none;
    color: #666;
    font-size: 16px;
    border: 2px solid #666;
    background-color: white;
    border-radius: 4px;
    padding: 4px 12px;
    text-transform: uppercase;
}

button:hover {
    color: black;
    border-color: black;
}

table td.left {
    vertical-align: top;
}

button:active {
    background-color: #efefef;
}

.example {
    padding: 20px;
    border-bottom: 1px solid #333;
}

.example table {
    width: 100%;
}

.example table td {
    width: 50%;
}

.display {
    background-color: #efefef;
    min-height: 100px;
}

h2 {
    margin-top: 0px;
}

.display {
   padding: 10px;
   font-family: courier, monospace;
   font-size: 16px;
}